/*////////////////////////////COMUNES////////////////////////////////////////////////////////*/
body{
  background-color: rgb(34, 34, 36);
  border: 0.2em solid white;
}

.game-container {
  position: relative;
  height: 100vh; /* Establece el contenedor a ocupar el 100% de la altura de la ventana */
  margin: 0.6% 2% 0% 2%;
  background-color: rgb(34, 34, 36);
  font-family: Arial, Helvetica, sans-serif;

}

.background-image {
  object-fit: fill; /* Ajusta la imagen para cubrir todo el espacio disponible sin deformarla */
  width: 100%;
  height: 91.5vh;
  background-position: center;
  border: 0.2em solid white;
}

/*---title----------------------------------------------------------------------*/
.game-title {
  position: absolute;
  top: 0.09%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el título vertical y horizontalmente */
  color: white;
  font-size: 2rem;
  text-align: center;
  border: 0.08em solid white;
  padding: 0.1% 0.2%;
}

/*---buttons----------------------------------------------------------------------*/
.buttons {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem; /*estaba en 2rem, esto hace que se situe a 2 ud desde a parte inferior del contenedor*/
  z-index: 1; /* Asegura que los botones estén por encima de la imagen */
  width: 100%;
  height: 100%;
  text-align: center;
}

.btnL{
  width: 100%;
  height: 100%;
}

.btnR{
  width: 100%;
  height: 100%;
}

.btnL:active{
  background-color: rgba(0, 0, 0, 0.2);
}

.btnR:active{
  background-color: rgba(0, 0, 0, 0.2);
}

/*---chronometer----------------------------------------------------------------------*/
.chronometer{
  height: 65px;
  width: 65px;
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 93.3%;
  left: 50%;
  display: grid;
  place-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.circle {
  position: relative;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circle:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.time {
  position: relative;
  font-size: 2em;
  color: black;
}

/*---options----------------------------------------------------------------------*/
.options {
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center; /* Ajusta la alineación vertical de los elementos */
}

.options .option1{
  margin: auto;
  width: 31%;
  color: white;
  letter-spacing: 0.01em;
  font-size: 1.2vw;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 89%;
  right: 39%;
  left: 0;
}

.options .option2{
  margin: auto;
  width: 31%;
  color: white;
  letter-spacing: 0.01em;
  font-size: 1.2vw;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 89%;
  right: 0%;
  left: 39%;
}

h2{
  /* border: 0.12em solid white; */
  padding: 1%;
}

/*---footer------------------------------------------------------------------------*/
.footer{
  width: 100%;
  display: flex;
  position: absolute;
  top: 100%;
}

.score {
  position: absolute;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.high-score {
  bottom: 0.2rem; /* Ajusta la posición en la esquina inferior izquierda */
  left: 0;
}

.current-score {
  bottom: 0.2rem; /* Ajusta la posición en la esquina inferior derecha */
  right: 0;
}

/*////////////////////////////FIN COMUNES////////////////////////////////////////////////////////*/
/*////////////////////////////GRAN LAPTOP////////////////////////////////////////////////////////*/
/* Estilos para pantallas grandes */
@media screen and (min-width: 1176px) {
  .background-image {
    height: 91.5vh;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 93.3%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    margin: auto;
    width: 31%;
    font-size: 1.2vw;
    top: 89%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    margin: auto;
    width: 31%;
    font-size: 1.2vw;
    top: 89%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 0.9rem;
  }

  .high-score {
    bottom: 0.2rem; /* Ajusta la posición en la esquina inferior izquierda */
    left: 0;
  }

  .current-score {
    bottom: 0.2rem; /* Ajusta la posición en la esquina inferior derecha */
    right: 0;
  }

}
/*///////////////////////////////////////SMALL LAPTOP/////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) and (max-width: 1175px) {
  .background-image {
    height: 91.5vh;
    border: 0.2em solid white;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 93%;
    left: 50%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    margin: auto;
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    margin: auto;
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 1rem;
  }

  .high-score {
    bottom: 0rem; /* Ajusta la posición en la esquina inferior izquierda */
    left: 0;
  }

  .current-score {
    bottom: 0rem; /* Ajusta la posición en la esquina inferior derecha */
    right: 0;
  }

}

/*///////////////////////////////////////TABLETS/////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) and (max-width: 1024px){
  .background-image {
    height: 91.5vh;
  }

  /*---title----------------------------------------------------------------------*/
  .game-title {
    top: 0.09%;
    font-size: 2rem;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 93%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    margin: auto;
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    margin: auto;
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 1rem;
  }

  .high-score {
    bottom: 0rem; /* Ajusta la posición en la esquina inferior izquierda */
    left: 0;
  }

  .current-score {
    bottom: 0rem; /* Ajusta la posición en la esquina inferior derecha */
    right: 0;
  }
}
/*///////////////////////////////////////LOW TABLETS///////////////////////////////////////////////////*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 520px) and (orientation: landscape) {
  .background-image {
    height: 91.5vh;
  }

  /*---title----------------------------------------------------------------------*/
  .game-title {
    top: 0.09%;
    font-size: 1.7rem;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 93%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    font-size: 1.4vw;
    top: 90%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    width: 31%;
    font-size: 1.4vw;
    top: 90%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 1rem;
  }

  .high-score {
    bottom: 0rem;
    left: 0;
  }

  .current-score {
    bottom: 0rem;
    right: 0;
  }
}
/*/////////////////////////////////////////GRAND MOBILE/////////////////////////////////////////////////////*/

@media screen and (max-width: 900px) and (max-height: 487px) and (orientation: landscape){
  .background-image {
    height: 91.5vh;
  }

  /*---title----------------------------------------------------------------------*/
  .game-title {
    top: 0.09%;
    font-size: 1.5rem;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 92%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    width: 31%;
    font-size: 1.4vw;
    top: 88.5%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    width: 31%;
    font-size: 1.4vw;
    top: 88.5%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 0.9rem;
  }

  .high-score {
    bottom: -0.5rem;
    left: 0;
  }

  .current-score {
    bottom: -0.5rem;
    right: 0;
  }
}
/*////////////////////////////////////////////MOBILE/////////////////////////////////////////////////////*/

@media screen and (max-width: 767px) and (orientation: landscape){
  .game-container {
    margin: 0.4% 1.8% 0% 1.8%;
  }

  .background-image {
    height: 91.5vh;
  }

  /*---title----------------------------------------------------------------------*/
  .game-title {
    top: 0.09%;
    font-size: 1.5rem;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 92%;
  }

  .circle {
    height: 65px;
    width: 65px;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    width: 31%;
    font-size: 1.4vw;
    top: 91%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .score {
    font-size: 0.9rem;
  }

  .high-score {
    bottom: -0.5rem;
    left: 0;
  }

  .current-score {
    bottom: -0.5rem;
    right: 0;
  }
}

/*///////////////////////////////////////////SMALL MOVILES/////////////////////////////////////////////////////*/
@media screen and (max-width: 767px) and (max-height: 420px) and (orientation: landscape){
  .game-container {
    margin: 0.4% 1.8% 0% 1.8%;
  }

  .background-image {
    object-fit: fill; /* Ajusta la imagen para cubrir todo el espacio disponible sin deformarla */
    width: 100%;
    height: 91.5vh;
    background-position: center;
    border: 0.2em solid white;
  }

  /*---title----------------------------------------------------------------------*/
  .game-title {
    top: 0.09%;
    font-size: 1.5rem;
  }

  /*---chronometer----------------------------------------------------------------------*/
  .chronometer{
    height: 65px;
    width: 65px;
    top: 91%;
  }

  .circle {
    position: relative;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  /*---options----------------------------------------------------------------------*/
  .options .option1{
    width: 31%;
    font-size: 1.4vw;
    top: 90%;
    right: 39%;
    left: 0;
  }

  .options .option2{
    width: 31%;
    font-size: 1.4vw;
    top: 90%;
    right: 0%;
    left: 39%;
  }

  /*---footer------------------------------------------------------------------------*/
  .footer{
    width: 100%;
    display: flex;
    position: absolute;
    top: 100%;
  }

  .score {
    position: absolute;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .high-score {
    bottom: -0.5rem; /* Ajusta la posición en la esquina inferior izquierda */
    left: 0;
  }

  .current-score {
    bottom: -0.5rem; /* Ajusta la posición en la esquina inferior derecha */
    right: 0;
  }
}
