html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow: hidden;/*Con overflow: hidden, se ocultará cualquier contenido que se desborde del cuerpo,
  lo que garantiza que la imagen ocupe toda la pantalla sin desplazamiento.*/
}
